{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supriya's People's Kitchen</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Based in Memphis, TN, People's Kitchen is a family owned Mediterranean restaurant, focused on traditional recipes served with a modern twist.">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supriya's People's Kitchen</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Load favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">

    <!-- Include your CSS files here -->
    <link rel="preload" as="style" href="{% static 'css/style.css' %}" onload="this.rel = 'stylesheet'">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text:wght@500&display=swap" rel="stylesheet">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Supriya's People's Kitchen</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <header class="centered-header">
            <h1 class="restaurant-name">Supriya's People's Kitchen</h1>
        </header>
<nav>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'menu' %}">Menu</a></li>
        <a href="{% url 'booking' %}">Book </a>

    </ul>
</nav>
<body>
<section>
    <article id="hero">
        <h1 class="heading_shadow">SPECIAL OFFER</h1>
        <p>30% Off This Weekend</p>
    </article>
</section>
<section>
    <article>
        <h2>About Us</h2>
        <p>Welcome to People's Kitchen, where we offer you the tastes of the Mediterranean through our blend of traditional recipes and contemporary flair.</p>
    </article>
    <article>
        <h2>Our Menu</h2>
        <p>Indulge in our exquisite menu, showcasing a lavish selection of 12-15 seasonal delicacies, inspired by the rich culinary traditions of Italy, India, Greece, and Turkey..</p>
        <p><a href="{% url 'menu' %}">View our menu</a></p>

    </article>
    <article>
        <h2>Book a Table</h2>
        <p>Secure your table now for an extraordinary dining adventure.
            .</p>
        <a href="{% url 'booking' %}">Book your table now</a>
</article>
</section>
<footer>
<p>&copy; {{ current_year }} Supriya's People's Kitchen</p>
</footer>
    </body>
    </html>
    
